@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: url("../src/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.boardG,
.winner {
  margin: 0 auto;
  width: 700px;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.attemp-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.ins {
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  color: #fff;
}
.back-link {
  color: #fff;
}
.light-ins {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.btn-start {
  background: none;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  margin-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.light-ins .ins-link {
  color: #fff;
}
form {
  width: 100%;
  text-align: center;
}
input[type="number"],
input[type="text"] {
  width: 80%;
  height: auto;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid #34495e;
  font-size: 35px;
  color: #34495e;
  border-radius: 12px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
.att-guess {
  width: 295px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.winner {
  position: relative;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}
.winner .result-g {
  width: 100%;
  word-break: break-word;
}
.nomr {
  margin-top: 0;
}
.quit-g {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #34495e;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 817px) {
  .ins {
    min-width: 320px;
    width: unset;
    font-size: 18px;
  }
  .boardG,
  .winner {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 710px) {
  h1 {
    font-size: 85px;
  }
  .boardG,
  .winner {
    width: 485px;
    padding: 5px;
  }
  .winner {
    font-size: 30px;
  }
  input[type="number"],
  input[type="text"],
  .user-submit-setting {
    font-size: 20px !important;
    border-radius: 9px !important;
  }
}
@media only screen and (max-width: 510px) {
  .ins {
    font-size: 15px;
  }
}
@media only screen and (max-width: 489px) {
  h1 {
    font-size: 65px;
  }
  .boardG,
  .winner {
    width: 319px;
  }
  .light-ins,
  .btn-start {
    font-size: 20px;
  }
  .r-s .r-s-w span:nth-child(1),
  .r-s .r-s-w span:nth-child(3) {
    width: 30% !important;
  }
}
.start-g {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.input-fill {
  font-size: 20px;
  color: #ffffff;
}
.user-submit-setting {
  width: 80%;
  height: auto;
  padding: 5px;
  text-align: center;
  border: 2px solid #34495e;
  font-size: 20px;
  color: #34495e;
  border-radius: 12px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin-top: 30px;
  cursor: pointer;
}
.r-head {
  display: flex;
  width: 100%;
  position: relative;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  background: #ffffff;
  border-radius: 7px;
  font-size: auto;
}
.r-s {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.r-s .r-s-w {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: initial;
  color: #ffffff;
  padding: 4px;
  word-break: break-word;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}
.r-s .r-s-w span:nth-child(1),
.r-s .r-s-w span:nth-child(3) {
  width: 9%;
}
.r-s .r-s-w span:nth-child(2) {
  padding: 0px 3px;
}
.find-by-rank {
  width: 100%;
  position: relative;
  color: #ffffff;
}
.find-by-rank input[type="number"] {
  width: 100%;
  margin-bottom: 30px;
}
.loading-page {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}
.loading-page .gif-cat-loading {
  width: 200px;
  height: 200px;
}
.loading-page .on-load-pleaseWait {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  color: #ffffff;
}
